<link rel="stylesheet" type="text/css" href="/css/home.css">
<div id="homeCntr" class="container" ng-controller="homeCtrl" flex>
    <div class="container" flex>
    <div layout="row" flex>
        <div layout="column" flex layout-align="center center" style="color: #ffffff; height: 300px;">
            <div style="font-size: 48px; font-family: Arial Black;">The Future of Ninja</div>
            <div style="margin-top: 15px;font-size: 20px; font-family: Arial;">Stay connected with your favorite ninjas, anytime, anywhere</div>
            <div style="margin-top: 25px;">
                <md-button style="background-color: #18B67F;">Start your free trial</md-button>
            </div>
            <div style="color: #cacaca;">One month free trial eligible for new subscribers</div>
        </div>    
    </div>
    <div layout="row" flex layout-align="center end" style="position: fixed; width: 100%; left: 0; bottom: 0; margin-top: 50px; color: #ffffff; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));">
        <div layout="column" flex layout-align="center center" style="height: 150px;">
                <div><span style="font-size: 48px;" class="glyphicon glyphicon-remove-circle"></span></div>
                <div style="font-size: 18px;">Cancel anytime</div>
                <div>No long term commitments</div>
        </div>
        <div layout="column" flex layout-align="center center" style="height: 150px;">
            <div><span style="font-size: 48px;" class="glyphicon glyphicon-phone"></span></div>
                <div style="font-size: 18px;">Watch from any device</div>
                <div>Phones | Tablets | Computers</div>
        </div>
        <div layout="column" flex layout-align="center center" style="height: 150px;">
            <div><span style="font-size: 48px;" class="glyphicon glyphicon-usd"></span></div>
                <div style="font-size: 18px;">Low Cost</div>
                <div>Subscriptions for $3.99 per month</div>
        </div>
    </div>    
</div>
</div>