<!--<link rel="stylesheet" type="text/css" href="/css/home.css">-->
<div class="container" ng-controller="homeCtrl">
    <div class="container">
    <div style="font-size: 32px; border-bottom: 1px solid #bdbdbd; margin-bottom: 25px;">
        Welcome to Ninja Now!
    </div>
        <div layout="row" style="padding-top: 25px;">
        <div layout="column" flex="50" layout-align="center center">
            <img class="logo" src="/images/swanson_pic.jpg" width="450px" height="auto">
        </div>
    
</div>