<style>
.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; }
</style>

<div class="container">
    <div style="font-size: 32px; border-bottom: 1px solid #bdbdbd; margin-bottom: 25px;">
    Welcome to Ninja Now!
    </div>
    <div style="font-size: 14px; color: #979797; margin-top: 25px;">Please fill in the following information to create your user account</div>
    <div layout="row" style="padding-top: 15px;">
        <div layout="column" flex="50" layout-align="center center">
            <img class="logo" src="/images/una_full_chicago_tm.png" width="450px" height="auto">
        </div>
        <div layout="column" flex="50">
        <md-card>
    <md-card-content layout-padding>
    <form name="projectForm">
      <div layout="row">
        <md-input-container flex="50">
        <label>First Name</label>
        <input required md-no-asterisk name="firstName" ng-model="firstName">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

        <md-input-container flex="50">
          <label>Last Name</label>
          <input required md-no-asterisk name="lastName" ng-model="lastName">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
        </div>
        </md-input-container>
      </div>

      <md-input-container class="md-block">
        <label>Email</label>
        <input required type="email" name="clientEmail" ng-model="emailAddress"
               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

        <div ng-messages="projectForm.clientEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 10 and 100 characters long and look like an e-mail address.
          </div>
        </div>
      </md-input-container>
        
        <md-input-container class="md-block">
        <label>Username</label>
        <input required name="username" ng-model="username"/>
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
        
        <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" required name="password" ng-model="password"/>
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
        
        <md-input-container class="md-block">
                          <label style="font-weight: bold;">Select Role</label>
                          <md-select ng-model="role" required>
                            <md-option value="Manager">
                              Manager
                            </md-option>
                              <md-option value="Employee">
                              Employee
                            </md-option>
                          </md-select>
                        </md-input-container>
      <div>
        <md-button ng-click="submitBtn()" style="background-color: #18B67F; color: #ffffff;" type="submit">Submit</md-button>
      </div>

    </form>
  </md-card-content>
</md-card>
            </div>
</div>
</div>