    html,
    body {
      height: 100%;
      padding: 0;
      margin: 0;
    }
    #mainContainer{
/*    height: 1000px;*/
    width: 100%;
/*        height: auto;*/
    }
    #preview{
/*        background-color: #000000;*/
        background-size: 100% 100%;
       position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
/*        height: 400px;*/
    }

#clockdiv{
    font-family: Arial Black;
	color: #fff;
	display: inline-block;
/*	font-weight: 100;*/
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
/*	padding: 10px;*/
	border-radius: 3px;
/*	background: #00BF96;*/
	display: inline-block;
}

#clockdiv div > span{
/*	padding: 15px;*/
/*	border-radius: 3px;*/
/*	background: #00816A;*/
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 14px;
}

/*
#channelRow{
       position: absolute;
        top: 265px;
        left: 0px;
        width: 100%;
        height: 400px;
}
*/

.chanImg{
    color: #ffffff; font-weight: bold; font-size: 20px; font-family: Verdana; height: 250px;
}
#img1{
    background: linear-gradient(rgba(50, 50, 100, 0.7), rgba(50, 50, 100, 0.4)), url('/images/swanson_pic.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 250px;
}
#img2{
    background: linear-gradient(rgba(50, 50, 100, 0.7), rgba(50, 50, 100, 0.4)), url('/images/ring.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 250px;
}
#img3{
    background: linear-gradient(rgba(50, 50, 100, 0.7), rgba(50, 50, 100, 0.4)), url('/images/rope.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 250px;
}
#img4{
    background: linear-gradient(rgba(50, 50, 100, 0.7), rgba(50, 50, 100, 0.4)), url('/images/grant_and_kids.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 250px;
}
#img5{
    background: linear-gradient(rgba(50, 50, 100, 0.7), rgba(50, 50, 100, 0.4)), url('/images/un_background.png');
    background-size: 100% 100%;
    width: 100%;
    height: 250px;
}

.imgContainer {
  position: relative;
/*  width: 50%;*/
}

.image {
  display: block;
/*  width: 100%;*/
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.overlayMain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.imgContainer:hover .overlay {
  opacity: .5;
    cursor: pointer;
}

.text {
  color: white;
  font-size: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.textSumm {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlaySumm {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
/*  background-color: #000000;*/
    background-color: #323264;
}

.summContainer:hover .overlaySumm {
  opacity: 1;
    cursor: pointer;
}

.summContainer{
    position: relative;
}

.showSumm{
    background-color: #590000;
    padding-top: 5px;
    padding-left: 5px;
    max-width: 250px;
    min-height: 75px;
}